/*
    Styles for authentication page
    Written by Daniel Muller
*/

#formRow {
	text-align:center;
	padding-top: 30px;
}

/* override for bootstrap defauls t*/
.authentication-btn {
	width: 220px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 5px 0 50px;
}

.control-group {
	margin-bottom: 0px;
	margin-top: 10px;
}