
/*
    Styles for authoring tool page
    Written by Daniel Muller
*/
html {
    display: block;
    height: auto;
}

body {
    display: block;
    height: 100%;
}

#carousel {
    width: 100%;
    padding: 15px;
    margin-top: 40px;
    background-image: url(../img/whitey.png);
    vertical-align: middle;
    width: auto;
}

#toolHolder {
    position: absolute;
    top: 230px;
    left:0px;
    bottom: 0px;
    padding-top: 15px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #494949
}

#canvas {
    position: absolute;
    top: 230px;
    left: 95px;
    bottom: 0px;
    right: 0px;
}

#carouselHolder {
    height: 100%;
}

#toolRow {
    height: 100%;
}

/* Body and structure
-------------------------------------------------- */

html, body {
    background-image: url(../img/black-Linen.png);
}

/* Toolbar icons
-------------------------------------------------- */
.toolIcon {
    width: 32px;
    height: 32px;
    padding: 5px;
    background-size: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.toolIcon:hover {
    background-color: #6E6E6E;
}

.toolIcon.active {
    background-color: #353535;
}

/* Toolbar icon containers
-------------------------------------------------- */
.toolRow {
    display: inline-block;
}

.toolGrouping {
    border-bottom: 5px solid #222;
    margin-bottom: 5px
}

.authoringTool {
	padding: 0px;
	height: 190px;
}

/** Stage container
-------------------------------------------------- */
.connected-carousels .stage {
    width: 240px;
}

/** Navigation container
-------------------------------------------------- */
.connected-carousels .navigation {
	position: relative;
	width: auto;
	height: 160px;
    margin: 0px 0px 0px 260px;

}

/** Shared carousel styles
-------------------------------------------------- */
.connected-carousels .carousel {
    overflow: hidden;
    margin-bottom: 0px;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles
-------------------------------------------------- */
.connected-carousels .carousel-stage {
    height: 160px;
    margin-bottom: 0px;
}

/** Navigation carousel specific styles
-------------------------------------------------- */
.connected-carousels .carousel-navigation {
    height: 160px;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border: 10px solid #fff;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #bbb;
}

/** Navigation carousel controls
-------------------------------------------------- */
.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-navigation {
    left: 4px;
    top: 65px;
    text-indent: 6px;
}

.connected-carousels .next-navigation {
    right: 4px;
    top: 65px;
    text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}

.next.next-navigation.inactive {
	display: none;
}

.prev.prev-navigation.inactive {
	display: none;
}

/* Images inside the carousels
-------------------------------------------------- */
.currentImage {
    height: 160px;
    width: 240px;
}

.navigationImage {
    height: 140px;
    width: 210px;
    line-height: 200px;
}

#classification_pop {
	display:none;
	border: 1px solid black;
	width: 220px;
	height: 120px;
	background-color: orange;
	font-size: 15px;
	position: absolute;
}

#landmark_pop {
	display:none;
	border: 1px solid black;
	width: 220px;
	height: 120px;
	background-color: orange;
	font-size: 15px;
	position: absolute;
}