/*
	Styles for floor upload page
	Written by Daniel Muller
*/

#buildingNameInput {
	width: 100%;
	height: 38px;
	line-height: 36px;
	margin-bottom: 0px;
	font-size: 30px;
	padding: 2px 2px;
	vertical-align: middle;
}

#buildingNameRow {
	margin: 45px 0px;
	text-align: center;
}

/* image gallary */
#gallary {
	margin-top: 45px;
}

/* holder for each thumbnail*/
.img-holder {
	line-height: 240px;
	text-align: center;
}

/* used to center thumb within container*/
.thumb-container {
	line-height: 20px;
	height: 100%
}



/* used for cool image border*/
.floorPlan {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* make upload and done button fill screen */
.btn-large.btn.span6 {
	margin: 0px 20px;
	width: 440px;
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.thumbnail {
	height: 100%;
}

.thumb-li {
	height: 350px;
}

/* Override bootstrap default form styles*/
input, textarea, .uneditable-input {
	width: 40px;
}

.form-horizontal .control-label {
	width: 100px;
}

.form-horizontal .control-group {
	margin-bottom: 0px;
}

.form-horizontal .controls {
	margin-left: 110px;
	word-wrap: break-word;
}

.form, .form-horizontal {
	margin-bottom: 0px;
}

.form-horizontal input {
	text-align: center;
}

/* used for image popout when hovering over thumbnail*/
.popover {
	max-width: 560px;
	max-height: 410px;
}

.hoverzoom {
	max-width: 520px;
	max-height: 390px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}