#canvas {
	border: 2px solid black;
	/*position: relative;*/
}

#buttons {
	height: 504px;
	width: 200px;
	float: left;
	background-color: blue;
}

.tool {
	margin: 15px auto;
	width: 40px;
	background-color: orange;
	padding: 20px 20px;
}

.tool:hover {
	cursor: pointer;
}

#add_room {
	display: none;
	margin: 15px auto;
	width: 90px;
	padding: 5px 20px;
}

#buttons .active {
	background-color: yellow;
}

#classification_pop {
	display:none;
	border: 1px solid black;
	width: 160px;
	height: 80px;
	background-color: orange;
	font-size: 15px;
	position: absolute;
}

#label {
	width: 100px;
}

#done {
	display: block;
	margin: 15px auto;
	padding: 13px 13px;
}

#done:hover {
	cursor:pointer;
}

