#canvas {
	border: 2px solid black;
	/*width: inherit;*/
	position: relative;
}

#canvasRow {
	margin-top: 50px;
}

#buttons {
	height: inherit;
	width: inherit;
	background-color: blue;
}

.tool {
	margin: 15px auto;
	width: 40px;
	background-color: orange;
	padding: 20px 20px;
}

.tool:hover {
	cursor: pointer;
}

#buttons .active {
	background-color: yellow;
}

